<div class="mainContainer">
            <div class="topPanel">
                <div class="logo">
                    <img class="image" src="images/logoCon.png">
                </div>
                <div class="title">MusicService</div>
            </div>

            <div class="search">

                <div class="input">
                    <div class="example-full-width">
                        <input placeholder="Ex. Love, Cat" value="Keywords">
                    </div>
                </div>

                <div class="searchButton">
                    <button>Search</button>
                </div>

            </div>

            <div class="trackStore">
                <app-trackStore></app-trackStore>
            </div>


            <div class="liked">
                <app-likedButton></app-likedButton>
            </div>

            <div class="profile">
                <app-profileButton></app-profileButton>
            </div>

            <div class="info">
            </div>

            <div class="lyrics">
                <app-lyrics></app-lyrics>
            </div>

            <div class="languages">
                <app-languageStore></app-languageStore>
            </div>
</div>