.image {
    width : 100px;
    height: 100px;
}

.track-column {
    background-color: white;
    overflow-y      : auto;
}

.title {
    color: #056efd;
}

.lyrics-column {
    background-repeat  : no-repeat !important;
    background-size    : cover !important;
    background-position: center !important;
}

.whiteBlock {
    background-color: white;
    border-radius   : 15px;
}

.lyrics {
    height: 30vh;
    
}

$height: "150px";

.tracks-container {
    height    : calc(100vh - #{$height});
    overflow-y: auto;
}

.left-header-panel {
    height: $height;
}
