.image {
    width: 100px;
    height: 100px;
}

.track-column {
    background-color: #e7ebff;
    overflow-y:auto;
}

.lyrics-column {
    padding-right: 1rem;    
    overflow-y:auto;
}

.title {
    color: #056efd;
}

.lyrics-column {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}
.whiteBlock {
    background-color: white;
    border-radius: 10px;
    width : max-content;
    padding: 1rem;

}

 .lyrics {
    text-align: center;
 }

 .user-panel {
     background-color: yellow;
     box-shadow: white 1x 1px 2px 2px;
 }