/* You can add global styles to this file, and also import other style files */

//Main colors
$c1: #43516A;
$c2: #162234;
$c3: #F3F4F4;
$c4: #160F15;
$c5: #6AB0CD;
$c6: #C8BFC1;
$c7: #3C3A44;
$c8: #E68966;
$c9: #7B8793;
$c10: #8E5F51;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
