<div class="mainGrid">

    <div class="title">
        Authorization
    </div>

    <div class="inputField">
        <mat-form-field class="example-full-width">
            <mat-label>Enter your User Name</mat-label>
            <textarea matInput placeholder="Ex. vasya24"></textarea>
          </mat-form-field>
    </div>

    <div class="regField">
        <button mat-flat-button color="#fb9833">Enter</button>
    </div>

    <div class="iconField">
        <img class="image" src="images/logoDec.png">
    </div>

</div>