.mainContainer {
    background-color: #a6aedc;
    display: grid;
    grid-template-columns: 16% 17% 17% 17% 17% 16%;
    grid-template-rows: 10% 35% 35% 20%;
    height: 950px;
}

.userName {
    grid-column-start: 2;
    grid-column-end: span 4;
    grid-row-start: 1;
    grid-row-end: span 1;
    background-color: #a6aedc;
}

.tracksPlace {
    grid-column-start: 2;
    grid-column-end: span 4;
    grid-row-start: 2;
    grid-row-end: span 2;
    background-color: #a6aedc;
}

.shareButton {
    grid-column-start: 2;
    grid-column-end: span 4;
    grid-row-start: 4;
    grid-row-end: span 1;
    background-color: #a6aedc;
}