<div class="container w-100 h-100 d-flex flex-column">
    <!-- <div class="image">
        <img class="imageImage" src="{{track.picture}}">
    </div> -->

    <div class="d-flex w-100">
        <div class="title fs-1">{{track.title}}</div>
        <span class=" fs-1">&nbsp;-&nbsp;</span>
        <div class="author fs-1">{{track.author}}</div>
    </div>

    <div class="genre">{{track.genre}}</div>
    <div class="year">{{track.year}}</div>
    <div class="duration">{{track.duration}}</div>
</div>